PORT=3000

#TEST 
#LDAP_URL=ldap://192.168.208.30
#LDAP_BASE_DN=DC=tdpcorp-test,DC=lan
#LDAP_DOMAIN=tdpcorp-test.lan
#LDAP_ADMIN_USER=prueba
#LDAP_ADMIN_PASSWORD=abc$234

#PRODUCTION
LDAP_URL=
LDAP_BASE_DN=
LDAP_DOMAIN=
LDAP_ADMIN_USER=
LDAP_ADMIN_PASSWORD=

# SECURITY
API_KEY=

# SMTP CONFIGURATION
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=

DOMINIO=
